<%= provide :title, t("views.layouts.categories") %>
<h4>
  <%= link_to t("admin.category.new"),
    new_admin_category_path if can? :add,Category,
    class: "btn btn-default" %>
</h4>
<div class="row">
  <div class="col-md-12">
    <li class="list-group-item default"><%= t "views.all_categories" %></li>
    <ul class="list-group">
      <% @categories.each do |category| %>
        <li class="list-group-item ">
          <%= link_to category.content, admin_category_path(category) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
